<div class="user-card">
<div class="image">
    
</div>
<div class="info">
    <h2>User Name: <%=user.name%></h2>
    <p ><strong class"post_counteer">&nbsp;Posts:</strong> <%=user.posts_counter%></p>
</div>
</div>